dashboard_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Os 5 workflows com maior número de falhas nos últimos 7 dias\nWITH data_atual AS (\n    SELECT CURRENT_DATE AS hoje\n)\nSELECT \n    w.nome_workflow,\n    w.id_workflow_original,\n    COUNT(*) AS total_falhas,\n    '7 dias' AS periodo\nFROM \n    fato_execucao fe\nJOIN \n    dim_workflow w ON fe.id_dim_workflow = w.id_dim_workflow\nJOIN \n    dim_data d ON fe.id_dim_data = d.id_dim_data\nJOIN \n    data_atual da ON TRUE\nWHERE \n    fe.finalizada = FALSE AND\n    (d.ano * 10000 + d.mes * 100 + d.dia) >= \n    (EXTRACT(YEAR FROM da.hoje) * 10000 + EXTRACT(MONTH FROM da.hoje) * 100 + EXTRACT(DAY FROM da.hoje)) - 7\nGROUP BY \n    w.nome_workflow, w.id_workflow_original\nORDER BY \n    total_falhas DESC\nLIMIT 5;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                500,
                -420
            ],
            "id": "f283e436-e7f9-47c0-99ed-b41b66d6c276",
            "name": "top 5 falhas 7 dias",
            "credentials": {
                "postgres": {
                    "id": "dul6kk7CAQwLK36U",
                    "name": "postgres-n8n"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Os 5 workflows com maior duração média nos últimos 7 dias\nWITH data_atual AS (\n    SELECT CURRENT_DATE AS hoje\n)\nSELECT \n    w.nome_workflow,\n    w.id_workflow_original,\n    ROUND(AVG(fe.duracao)::NUMERIC, 3) AS duracao_media,\n    COUNT(*) AS total_execucoes,\n    '7 dias' AS periodo\nFROM fato_execucao fe\nJOIN dim_workflow w ON fe.id_dim_workflow = w.id_dim_workflow\nJOIN dim_data d ON fe.id_dim_data = d.id_dim_data\nJOIN data_atual da ON TRUE\nWHERE (d.ano * 10000 + d.mes * 100 + d.dia) >= \n      (EXTRACT(YEAR FROM da.hoje) * 10000 + EXTRACT(MONTH FROM da.hoje) * 100 + EXTRACT(DAY FROM da.hoje)) - 7\nGROUP BY w.nome_workflow, w.id_workflow_original\nORDER BY duracao_media DESC\nLIMIT 5;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                480,
                440
            ],
            "id": "0377455f-ef1c-485c-b130-043b0d0e842f",
            "name": "top 5 duracao 7 dias",
            "credentials": {
                "postgres": {
                    "id": "dul6kk7CAQwLK36U",
                    "name": "postgres-n8n"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Contagem diária de execuções e falhas nos últimos 7 dias\nWITH data_atual AS (\n    SELECT CURRENT_DATE AS hoje\n),\ndatas AS (\n    SELECT \n        da.hoje - (generate_series(0, 6)) AS data_referencia\n    FROM \n        data_atual da\n)\nSELECT \n    TO_CHAR(d.data_referencia, 'YYYY-MM-DD') AS data,\n    COALESCE(e.total_execucoes, 0) AS total_execucoes,\n    COALESCE(f.total_falhas, 0) AS total_falhas,\n    CASE \n        WHEN COALESCE(e.total_execucoes, 0) = 0 THEN 0\n        ELSE ROUND((COALESCE(f.total_falhas, 0)::numeric / COALESCE(e.total_execucoes, 0)) * 100, 2)\n    END AS percentual_falhas,\n    '7 dias' AS periodo\nFROM \n    datas d\nLEFT JOIN (\n    SELECT \n        MAKE_DATE(d.ano, d.mes, d.dia) AS data_exec,\n        COUNT(*) AS total_execucoes\n    FROM \n        fato_execucao fe\n    JOIN \n        dim_data d ON fe.id_dim_data = d.id_dim_data\n    GROUP BY \n        MAKE_DATE(d.ano, d.mes, d.dia)\n) e ON d.data_referencia = e.data_exec\nLEFT JOIN (\n    SELECT \n        MAKE_DATE(d.ano, d.mes, d.dia) AS data_falha,\n        COUNT(*) AS total_falhas\n    FROM \n        fato_execucao fe\n    JOIN \n        dim_data d ON fe.id_dim_data = d.id_dim_data\n    WHERE \n        fe.finalizada = FALSE\n    GROUP BY \n        MAKE_DATE(d.ano, d.mes, d.dia)\n) f ON d.data_referencia = f.data_falha\nORDER BY \n    d.data_referencia;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                740,
                0
            ],
            "id": "fb58261f-b7b3-4aaa-a4ac-25ac6c666307",
            "name": "contagem diaria execucoes ultimos 7 dias",
            "credentials": {
                "postgres": {
                    "id": "dul6kk7CAQwLK36U",
                    "name": "postgres-n8n"
                }
            }
        },
        {
            "parameters": {
                "path": "relatorio_bi",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -80,
                80
            ],
            "id": "16fcfc3d-2f14-4063-b5e6-75d8672d413c",
            "name": "Webhook",
            "webhookId": "37d08843-09d8-46db-9dea-444b4835ac0a"
        },
        {
            "parameters": {
                "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Dashboard de Execuções</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n    <style>\n        .card-hover:hover {\n            transform: translateY(-5px);\n            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);\n        }\n\n        .sidebar {\n            transition: all 0.3s;\n        }\n\n        .chart-container {\n            position: relative;\n            height: 300px;\n        }\n\n        .progress-bar {\n            height: 8px;\n            border-radius: 4px;\n            background-color: #e5e7eb;\n        }\n\n        .progress-bar-fill {\n            height: 100%;\n            border-radius: 4px;\n            transition: width 0.5s ease-in-out;\n        }\n    </style>\n</head>\n\n<body class=\"bg-gray-50 font-sans\">\n  \n    <div class=\"flex h-screen overflow-hidden\">\n        <!-- Sidebar -->\n        <div class=\"sidebar bg-indigo-700 text-white w-64 flex-shrink-0 hidden md:block\">\n            <div class=\"p-4\">\n                <h1 class=\"text-2xl font-bold flex items-center\">\n                    <i class=\"fas fa-chart-line mr-2\"></i>\n                    Workflow BI\n                </h1>\n            </div>\n            <nav class=\"mt-6\">\n                <div class=\"px-4 py-2 text-indigo-200 uppercase text-xs font-semibold tracking-wider\">\n                    Menu\n                </div>\n                <a href=\"#\" class=\"block px-4 py-3 text-white bg-indigo-800\">\n                    <i class=\"fas fa-home mr-3\"></i> Dashboard\n                </a>\n                <a href=\"#\" class=\"block px-4 py-3 text-indigo-200 hover:text-white hover:bg-indigo-600\">\n                    <i class=\"fas fa-tasks mr-3\"></i> Workflows\n                </a>\n                <a href=\"#\" class=\"block px-4 py-3 text-indigo-200 hover:text-white hover:bg-indigo-600\">\n                    <i class=\"fas fa-history mr-3\"></i> Histórico\n                </a>\n                <a href=\"#\" class=\"block px-4 py-3 text-indigo-200 hover:text-white hover:bg-indigo-600\">\n                    <i class=\"fas fa-exclamation-triangle mr-3\"></i> Falhas\n                </a>\n                <a href=\"#\" class=\"block px-4 py-3 text-indigo-200 hover:text-white hover:bg-indigo-600\">\n                    <i class=\"fas fa-cog mr-3\"></i> Configurações\n                </a>\n            </nav>\n        </div>\n\n        <!-- Main Content -->\n        <div class=\"flex-1 overflow-auto\">\n            <!-- Top Navigation -->\n            <header class=\"bg-white shadow-sm\">\n                <div class=\"flex justify-between items-center px-6 py-4\">\n                    <div class=\"flex items-center\">\n                        <button class=\"md:hidden text-gray-500 mr-4\">\n                            <i class=\"fas fa-bars text-xl\"></i>\n                        </button>\n                        <h2 class=\"text-xl font-semibold text-gray-800\">Dashboard de Execuções</h2>\n                    </div>\n                    <div class=\"flex items-center space-x-4\">\n                        <div class=\"relative\">\n                            <input type=\"text\" placeholder=\"Buscar...\"\n                                class=\"pl-10 pr-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500\">\n                            <i class=\"fas fa-search absolute left-3 top-3 text-gray-400\"></i>\n                        </div>\n                        <div class=\"relative\">\n                            <button class=\"text-gray-500 hover:text-gray-700\">\n                                <i class=\"fas fa-bell text-xl\"></i>\n                                <span class=\"absolute top-0 right-0 h-2 w-2 rounded-full bg-red-500\"></span>\n                            </button>\n                        </div>\n                    </div>\n                </div>\n            </header>\n\n            <!-- Main Content Area -->\n            <main class=\"p-6\">\n                <!-- Date Filter -->\n                <div class=\"flex justify-between items-center mb-6\">\n                    <div>\n                        <h3 class=\"text-lg font-semibold text-gray-800\">Visão Geral das Execuções</h3>\n                        <p class=\"text-gray-500\">Monitoramento em tempo real</p>\n                    </div>\n                    <div class=\"flex items-center space-x-2\">\n                        <button\n                            class=\"px-4 py-2 bg-white border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-50\">\n                            <i class=\"fas fa-calendar-alt mr-2\"></i> Últimos 7 dias\n                        </button>\n                        <button class=\"px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700\">\n                            <i class=\"fas fa-download mr-2\"></i> Exportar\n                        </button>\n                    </div>\n                </div>\n\n                <!-- Metrics Cards -->\n                <div class=\"grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6\">\n                    <div class=\"bg-white rounded-xl shadow-sm p-6 card-hover transition-all duration-300\">\n                        <div class=\"flex justify-between items-start\">\n                            <div>\n                                <p class=\"text-gray-500 text-sm font-medium\">Total Execuções</p>\n                                <h3 class=\"text-3xl font-bold text-gray-800 mt-1\">{{ $node['total execucoes 7 dias'].json.total_execucoes }}</h3>\n                                <!-- <p class=\"text-green-500 text-sm mt-2\">\n                                    <i class=\"fas fa-arrow-up mr-1\"></i> x% vs período anterior\n                                </p> -->\n                            </div>\n                            <div class=\"bg-indigo-100 p-3 rounded-lg\">\n                                <i class=\"fas fa-play-circle text-indigo-600 text-xl\"></i>\n                            </div>\n                        </div>\n                    </div>\n\n                    <div class=\"bg-white rounded-xl shadow-sm p-6 card-hover transition-all duration-300\">\n                        <div class=\"flex justify-between items-start\">\n                            <div>\n                                <p class=\"text-gray-500 text-sm font-medium\">Taxa de Sucesso</p>\n                                <h3 class=\"text-3xl font-bold text-gray-800 mt-1\">{{ $node['percentual sucesso e falha 7 dias'].json.percentual_sucesso }}%</h3>\n                                <!-- <p class=\"text-green-500 text-sm mt-2\">\n                                    <i class=\"fas fa-arrow-up mr-1\"></i> x% vs período anterior\n                                </p> -->\n                            </div>\n                            <div class=\"bg-green-100 p-3 rounded-lg\">\n                                <i class=\"fas fa-check-circle text-green-600 text-xl\"></i>\n                            </div>\n                        </div>\n                    </div>\n\n                    <div class=\"bg-white rounded-xl shadow-sm p-6 card-hover transition-all duration-300\">\n                        <div class=\"flex justify-between items-start\">\n                            <div>\n                                <p class=\"text-gray-500 text-sm font-medium\">Falhas</p>\n                                <h3 class=\"text-3xl font-bold text-gray-800 mt-1\">{{ $node['percentual sucesso e falha 7 dias'].json.percentual_falha }}%</h3>\n                                <!-- <p class=\"text-red-500 text-sm mt-2\">\n                                    <i class=\"fas fa-arrow-down mr-1\"></i> x% vs período anterior\n                                </p> -->\n                            </div>\n                            <div class=\"bg-red-100 p-3 rounded-lg\">\n                                <i class=\"fas fa-times-circle text-red-600 text-xl\"></i>\n                            </div>\n                        </div>\n                    </div>\n\n                    <div class=\"bg-white rounded-xl shadow-sm p-6 card-hover transition-all duration-300\">\n                        <div class=\"flex justify-between items-start\">\n                            <div>\n                                <p class=\"text-gray-500 text-sm font-medium\">Tempo Médio</p>\n                                <h3 class=\"text-3xl font-bold text-gray-800 mt-1\">{{ $node['duração média 7 dias'].json.duracao_media }}s</h3>\n                                <!-- <p class=\"text-yellow-500 text-sm mt-2\">\n                                    <i class=\"fas fa-arrow-up mr-1\"></i> x% vs período anterior\n                                </p> -->\n                            </div>\n                            <div class=\"bg-yellow-100 p-3 rounded-lg\">\n                                <i class=\"fas fa-clock text-yellow-600 text-xl\"></i>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Charts Row -->\n                <div class=\"grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6\">\n                    <!-- Executions Over Time -->\n                    <div class=\"bg-white rounded-xl shadow-sm p-6\">\n                        <div class=\"flex justify-between items-center mb-4\">\n                            <h4 class=\"text-lg font-semibold text-gray-800\">Execuções ao Longo do Tempo</h4>\n                            <div class=\"flex space-x-2\">\n                                <button class=\"px-3 py-1 text-xs bg-indigo-100 text-indigo-700 rounded-md\">Dia</button>\n                                <button\n                                    class=\"px-3 py-1 text-xs bg-white text-gray-500 border border-gray-300 rounded-md\">Semana</button>\n                                <button\n                                    class=\"px-3 py-1 text-xs bg-white text-gray-500 border border-gray-300 rounded-md\">Mês</button>\n                            </div>\n                        </div>\n                        <div class=\"chart-container\">\n                            <canvas id=\"executionsChart\"></canvas>\n                        </div>\n                    </div>\n\n                    <!-- Success/Failure Rate -->\n                    <div class=\"bg-white rounded-xl shadow-sm p-6\">\n                        <div class=\"flex justify-between items-center mb-4\">\n                            <h4 class=\"text-lg font-semibold text-gray-800\">Taxa de Sucesso/Falha</h4>\n                            <div class=\"flex space-x-2\">\n                                <button class=\"px-3 py-1 text-xs bg-indigo-100 text-indigo-700 rounded-md\">7\n                                    dias</button>\n                                <button\n                                    class=\"px-3 py-1 text-xs bg-white text-gray-500 border border-gray-300 rounded-md\">30\n                                    dias</button>\n                            </div>\n                        </div>\n                        <div class=\"chart-container\">\n                            <canvas id=\"successRateChart\"></canvas>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Top Workflows -->\n                <div class=\"grid grid-cols-1 lg:grid-cols-3 gap-6\">\n                    <!-- Most Executed -->\n                    <div class=\"bg-white rounded-xl shadow-sm p-6\">\n                        <div class=\"flex justify-between items-center mb-4\">\n                            <h4 class=\"text-lg font-semibold text-gray-800\">Workflows Mais Executados</h4>\n                            <button class=\"text-indigo-600 text-sm font-medium\">Ver todos</button>\n                        </div>\n                        <div class=\"space-y-4\">\n                            <div class=\"flex items-center justify-between\">\n                                <div class=\"flex items-center\">\n                                    <div class=\"bg-indigo-100 p-2 rounded-lg mr-3\">\n                                        <i class=\"fas fa-file-invoice text-indigo-600\"></i>\n                                    </div>\n                                    <div>\n                                        <p class=\"font-medium text-gray-800\">{{ $node['array_top_5_execucoes'].json.workflows[0].nome_workflow }}</p>\n                                        <!-- <p class=\"text-xs text-gray-500\">ID: WF-001</p> -->\n                                    </div>\n                                </div>\n                                <span class=\"font-semibold text-gray-800\">{{ $node['array_top_5_execucoes'].json.workflows[0].total_execucoes }} exec.</span>\n                            </div>\n                            <div class=\"flex items-center justify-between\">\n                                <div class=\"flex items-center\">\n                                    <div class=\"bg-blue-100 p-2 rounded-lg mr-3\">\n                                        <i class=\"fas fa-sync-alt text-blue-600\"></i>\n                                    </div>\n                                    <div>\n                                        <p class=\"font-medium text-gray-800\">{{ $node['array_top_5_execucoes'].json.workflows[1].nome_workflow }}</p>\n                                        <!-- <p class=\"text-xs text-gray-500\">ID: WF-042</p> -->\n                                    </div>\n                                </div>\n                                <span class=\"font-semibold text-gray-800\">{{ $node['array_top_5_execucoes'].json.workflows[1].total_execucoes }} exec.</span>\n                            </div>\n                            <div class=\"flex items-center justify-between\">\n                                <div class=\"flex items-center\">\n                                    <div class=\"bg-purple-100 p-2 rounded-lg mr-3\">\n                                        <i class=\"fas fa-envelope text-purple-600\"></i>\n                                    </div>\n                                    <div>\n                                        <p class=\"font-medium text-gray-800\">{{ $node['array_top_5_execucoes'].json.workflows[2].nome_workflow }}</p>\n                                        <!-- <p class=\"text-xs text-gray-500\">ID: WF-015</p> -->\n                                    </div>\n                                </div>\n                                <span class=\"font-semibold text-gray-800\">{{ $node['array_top_5_execucoes'].json.workflows[2].total_execucoes }} exec.</span>\n                            </div>\n                            <div class=\"flex items-center justify-between\">\n                                <div class=\"flex items-center\">\n                                    <div class=\"bg-green-100 p-2 rounded-lg mr-3\">\n                                        <i class=\"fas fa-database text-green-600\"></i>\n                                    </div>\n                                    <div>\n                                        <p class=\"font-medium text-gray-800\">{{ $node['array_top_5_execucoes'].json.workflows[3].nome_workflow }}</p>\n                                        <!-- <p class=\"text-xs text-gray-500\">ID: WF-033</p> -->\n                                    </div>\n                                </div>\n                                <span class=\"font-semibold text-gray-800\">{{ $node['array_top_5_execucoes'].json.workflows[3].total_execucoes }} exec.</span>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Most Failures -->\n                    <div class=\"bg-white rounded-xl shadow-sm p-6\">\n                        <div class=\"flex justify-between items-center mb-4\">\n                            <h4 class=\"text-lg font-semibold text-gray-800\">Workflows com Mais Falhas</h4>\n                            <button class=\"text-indigo-600 text-sm font-medium\">Ver todos</button>\n                        </div>\n                        <div class=\"space-y-4\">\n                            <div>\n                                <div class=\"flex justify-between mb-1\">\n                                    <div class=\"flex items-center\">\n                                        <div class=\"bg-red-100 p-2 rounded-lg mr-3\">\n                                            <i class=\"fas fa-file-export text-red-600\"></i>\n                                        </div>\n                                        <div>\n                                            <p class=\"font-medium text-gray-800\">{{ $node['array_top_5_falhas'].json.workflows[0].nome_workflow }}</p>\n                                            <!-- <p class=\"text-xs text-gray-500\">ID: WF-007</p> -->\n                                        </div>\n                                    </div>\n                                    <span class=\"font-semibold text-red-600\">{{ $node['array_top_5_falhas'].json.workflows[0].total_falhas }} falhas</span>\n                                </div>\n                                <div class=\"progress-bar\">\n                                    <div class=\"progress-bar-fill bg-red-500\" style=\"width: 80%\"></div>\n                                </div>\n                            </div>\n                            <div>\n                                <div class=\"flex justify-between mb-1\">\n                                    <div class=\"flex items-center\">\n                                        <div class=\"bg-orange-100 p-2 rounded-lg mr-3\">\n                                            <i class=\"fas fa-cloud-upload-alt text-orange-600\"></i>\n                                        </div>\n                                        <div>\n                                            <p class=\"font-medium text-gray-800\">{{ $node['array_top_5_falhas'].json.workflows[1].nome_workflow }}</p>\n                                            <!-- <p class=\"text-xs text-gray-500\">ID: WF-019</p> -->\n                                        </div>\n                                    </div>\n                                    <span class=\"font-semibold text-red-600\">{{ $node['array_top_5_falhas'].json.workflows[1].total_falhas }} falhas</span>\n                                </div>\n                                <div class=\"progress-bar\">\n                                    <div class=\"progress-bar-fill bg-orange-400\" style=\"width: 60%\"></div>\n                                </div>\n                            </div>\n                            <div>\n                                <div class=\"flex justify-between mb-1\">\n                                    <div class=\"flex items-center\">\n                                        <div class=\"bg-yellow-100 p-2 rounded-lg mr-3\">\n                                            <i class=\"fas fa-cogs text-yellow-600\"></i>\n                                        </div>\n                                        <div>\n                                            <p class=\"font-medium text-gray-800\">{{ $node['array_top_5_falhas'].json.workflows[2].nome_workflow }}</p>\n                                            <!-- <p class=\"text-xs text-gray-500\">ID: WF-025</p> -->\n                                        </div>\n                                    </div>\n                                    <span class=\"font-semibold text-red-600\">{{ $node['array_top_5_falhas'].json.workflows[2].total_falhas }} falhas</span>\n                                </div>\n                                <div class=\"progress-bar\">\n                                    <div class=\"progress-bar-fill bg-yellow-400\" style=\"width: 40%\"></div>\n                                </div>\n                            </div>\n                            <div>\n                                <div class=\"flex justify-between mb-1\">\n                                    <div class=\"flex items-center\">\n                                        <div class=\"bg-pink-100 p-2 rounded-lg mr-3\">\n                                            <i class=\"fas fa-file-import text-pink-600\"></i>\n                                        </div>\n                                        <div>\n                                            <p class=\"font-medium text-gray-800\">{{ $node['array_top_5_falhas'].json.workflows[3].nome_workflow }}</p>\n                                            <!-- <p class=\"text-xs text-gray-500\">ID: WF-011</p> -->\n                                        </div>\n                                    </div>\n                                    <span class=\"font-semibold text-red-600\">{{ $node['array_top_5_falhas'].json.workflows[3].total_falhas }} falhas</span>\n                                </div>\n                                <div class=\"progress-bar\">\n                                    <div class=\"progress-bar-fill bg-pink-400\" style=\"width: 30%\"></div>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Longest Duration -->\n                    <div class=\"bg-white rounded-xl shadow-sm p-6\">\n                        <div class=\"flex justify-between items-center mb-4\">\n                            <h4 class=\"text-lg font-semibold text-gray-800\">Workflows Mais Longos</h4>\n                            <button class=\"text-indigo-600 text-sm font-medium\">Ver todos</button>\n                        </div>\n                        <div class=\"space-y-4\">\n                            <div class=\"flex items-center justify-between\">\n                                <div class=\"flex items-center\">\n                                    <div class=\"bg-purple-100 p-2 rounded-lg mr-3\">\n                                        <i class=\"fas fa-chart-pie text-purple-600\"></i>\n                                    </div>\n                                    <div>\n                                        <p class=\"font-medium text-gray-800\">{{ $node['array_top_duracoes'].json.workflows[0].nome_workflow }}</p>\n                                        <!-- <p class=\"text-xs text-gray-500\">ID: WF-005</p> -->\n                                    </div>\n                                </div>\n                                <span class=\"font-semibold text-gray-800\">{{ $node['array_top_duracoes'].json.workflows[0].duracao_media }}s</span>\n                            </div>\n                            <div class=\"flex items-center justify-between\">\n                                <div class=\"flex items-center\">\n                                    <div class=\"bg-blue-100 p-2 rounded-lg mr-3\">\n                                        <i class=\"fas fa-file-pdf text-blue-600\"></i>\n                                    </div>\n                                    <div>\n                                        <p class=\"font-medium text-gray-800\">{{ $node['array_top_duracoes'].json.workflows[1].nome_workflow }}</p>\n                                        <!-- <p class=\"text-xs text-gray-500\">ID: WF-028</p> -->\n                                    </div>\n                                </div>\n                                <span class=\"font-semibold text-gray-800\">{{ $node['array_top_duracoes'].json.workflows[1].duracao_media }}s</span>\n                            </div>\n                            <div class=\"flex items-center justify-between\">\n                                <div class=\"flex items-center\">\n                                    <div class=\"bg-green-100 p-2 rounded-lg mr-3\">\n                                        <i class=\"fas fa-file-excel text-green-600\"></i>\n                                    </div>\n                                    <div>\n                                        <p class=\"font-medium text-gray-800\">{{ $node['array_top_duracoes'].json.workflows[2].nome_workflow }}</p>\n                                        <!-- <p class=\"text-xs text-gray-500\">ID: WF-013</p> -->\n                                    </div>\n                                </div>\n                                <span class=\"font-semibold text-gray-800\">{{ $node['array_top_duracoes'].json.workflows[2].duracao_media }}s</span>\n                            </div>\n                            <div class=\"flex items-center justify-between\">\n                                <div class=\"flex items-center\">\n                                    <div class=\"bg-indigo-100 p-2 rounded-lg mr-3\">\n                                        <i class=\"fas fa-file-csv text-indigo-600\"></i>\n                                    </div>\n                                    <div>\n                                        <p class=\"font-medium text-gray-800\">{{ $node['array_top_duracoes'].json.workflows[3].nome_workflow }}</p>\n                                        <!-- <p class=\"text-xs text-gray-500\">ID: WF-009</p> -->\n                                    </div>\n                                </div>\n                                <span class=\"font-semibold text-gray-800\">{{ $node['array_top_duracoes'].json.workflows[3].duracao_media }}s</span>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </main>\n        </div>\n    </div>\n  \n    <div id=\"chart-data\" data-labels='{{ JSON.stringify($node[\"monta_dias_semana\"].json.data) }}'\n    data-execucoes='{{ JSON.stringify($node[\"monta_dias_semana\"].json.execucoes) }}'\n    data-sucess='{{ $node[\"percentual sucesso e falha 7 dias\"].json.percentual_sucesso }}'\n    data-failure='{{ $node[\"percentual sucesso e falha 7 dias\"].json.percentual_falha }}'>\n</div>\n\n    <script>\n        // Executions Over Time Chart\n       const chartData = document.getElementById('chart-data')\n    const labels = JSON.parse(chartData.dataset.labels)\n    const execucoes = JSON.parse(chartData.dataset.execucoes)\n        const executionsCtx = document.getElementById('executionsChart').getContext('2d');\n        const executionsChart = new Chart(executionsCtx, {\n            type: 'line',\n            data: {\n                labels: labels,\n                datasets: [\n                    {\n                        label: 'Execuções',\n                        data: execucoes,\n                        borderColor: '#6366F1',\n                        backgroundColor: 'rgba(99, 102, 241, 0.1)',\n                        borderWidth: 2,\n                        fill: true,\n                        tension: 0.4\n                    }\n                ]\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: false,\n                plugins: {\n                    legend: {\n                        display: false\n                    }\n                },\n                scales: {\n                    y: {\n                        beginAtZero: true,\n                        grid: {\n                            drawBorder: false\n                        }\n                    },\n                    x: {\n                        grid: {\n                            display: false\n                        }\n                    }\n                }\n            }\n        });\n\n        // Success/Failure Rate Chart\n        const sucessValue = Math.round(parseFloat(chartData.dataset.sucess))\n        const failureValue = Math.round(parseFloat(chartData.dataset.failure))\n\n        console.log(\"Sucesso:\", sucessValue, \"Falha:\", failureValue);\n\n        const successRateCtx = document.getElementById('successRateChart').getContext('2d');\n        const successRateChart = new Chart(successRateCtx, {\n            type: 'doughnut',\n            data: {\n                labels: ['Sucesso', 'Falha'],\n                datasets: [{\n                    data: [sucessValue, failureValue],\n                    backgroundColor: ['#10B981', '#EF4444'],\n                    borderWidth: 0\n                }]\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: false,\n                cutout: '70%',\n                plugins: {\n                    legend: {\n                        position: 'bottom',\n                        labels: {\n                            boxWidth: 12,\n                            padding: 20\n                        }\n                    }\n                }\n            }\n        });\n\n        // Mobile menu toggle\n        document.querySelector('.md\\\\:hidden').addEventListener('click', function () {\n            document.querySelector('.sidebar').classList.toggle('hidden');\n        });\n    </script>\n</body>\n\n</html>"
            },
            "type": "n8n-nodes-base.html",
            "typeVersion": 1.2,
            "position": [
                1680,
                100
            ],
            "id": "3066f57d-7ff4-4f4a-9aba-bd078ffa5383",
            "name": "HTML"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.html }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1940,
                100
            ],
            "id": "413b9fe5-22dd-48c4-911b-2826c37744e9",
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT COUNT(*) AS total_execucoes\nFROM fato_execucao fe\nJOIN dim_data dd ON fe.id_dim_data = dd.id_dim_data\nWHERE TO_DATE(dd.ano || '-' || dd.mes || '-' || dd.dia, 'YYYY-MM-DD') >= CURRENT_DATE - INTERVAL '7 days';\n",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                500,
                -240
            ],
            "id": "221c416d-4a96-494e-aa81-3d6e0ed74165",
            "name": "total execucoes 7 dias",
            "credentials": {
                "postgres": {
                    "id": "dul6kk7CAQwLK36U",
                    "name": "postgres-n8n"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  ROUND(100.0 * SUM(CASE WHEN finalizada THEN 1 ELSE 0 END) / COUNT(*), 2) AS percentual_sucesso,\n  ROUND(100.0 * SUM(CASE WHEN NOT finalizada THEN 1 ELSE 0 END) / COUNT(*), 2) AS percentual_falha\nFROM fato_execucao fe\nJOIN dim_data dd ON fe.id_dim_data = dd.id_dim_data\nWHERE TO_DATE(dd.ano || '-' || dd.mes || '-' || dd.dia, 'YYYY-MM-DD') >= CURRENT_DATE - INTERVAL '7 days';\n",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                740,
                -240
            ],
            "id": "5b66b0ef-f76a-4709-93b2-1ff10cc121a6",
            "name": "percentual sucesso e falha 7 dias",
            "credentials": {
                "postgres": {
                    "id": "dul6kk7CAQwLK36U",
                    "name": "postgres-n8n"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  ROUND(AVG(duracao)::numeric, 2) AS duracao_media\nFROM fato_execucao fe\nJOIN dim_data dd ON fe.id_dim_data = dd.id_dim_data\nWHERE TO_DATE(dd.ano || '-' || dd.mes || '-' || dd.dia, 'YYYY-MM-DD') >= CURRENT_DATE - INTERVAL '7 days';\n",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                500,
                0
            ],
            "id": "eb13506a-cd77-4798-b940-64f22755fd25",
            "name": "duração média 7 dias",
            "credentials": {
                "postgres": {
                    "id": "dul6kk7CAQwLK36U",
                    "name": "postgres-n8n"
                }
            }
        },
        {
            "parameters": {
                "mode": "chooseBranch",
                "numberInputs": 4
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.1,
            "position": [
                1460,
                80
            ],
            "id": "fb3e7e39-a4a3-4f29-b7fa-49d5cf34c641",
            "name": "Merge"
        },
        {
            "parameters": {
                "jsCode": "let execucoes = $input.first().json.total_execucoes.map(Number)\n\nlet data = $input.first().json.data.map(d => {\n  const diasSemana = ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb']\n  const dia = new Date(d)\n  return diasSemana[dia.getDay()]\n})\n\nreturn { execucoes, data }\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                740,
                240
            ],
            "id": "e2de5228-8793-4088-8962-03b0bef2936a",
            "name": "monta_dias_semana"
        },
        {
            "parameters": {
                "fieldsToAggregate": {
                    "fieldToAggregate": [
                        {
                            "fieldToAggregate": "total_execucoes"
                        },
                        {
                            "fieldToAggregate": "data"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                480,
                240
            ],
            "id": "7477c685-5ab5-4eb5-a19b-87ce662602db",
            "name": "Aggregate"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "-- Os 5 workflows mais executados nos últimos 7 dias\nWITH data_atual AS (\n    SELECT CURRENT_DATE AS hoje\n)\nSELECT \n    w.nome_workflow,\n    w.id_workflow_original,\n    COUNT(*) AS total_execucoes,\n    '7 dias' AS periodo\nFROM \n    fato_execucao fe\nJOIN \n    dim_workflow w ON fe.id_dim_workflow = w.id_dim_workflow\nJOIN \n    dim_data d ON fe.id_dim_data = d.id_dim_data\nJOIN \n    data_atual da ON TRUE\nWHERE \n    (d.ano * 10000 + d.mes * 100 + d.dia) >= \n    (EXTRACT(YEAR FROM da.hoje) * 10000 + EXTRACT(MONTH FROM da.hoje) * 100 + EXTRACT(DAY FROM da.hoje)) - 7\nGROUP BY \n    w.nome_workflow, w.id_workflow_original\nORDER BY \n    total_execucoes DESC\nLIMIT 5;\n",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                480,
                620
            ],
            "id": "29f8add2-9754-463b-9aa0-51776f42fa5a",
            "name": "top 5 execucoes 7 dias",
            "credentials": {
                "postgres": {
                    "id": "dul6kk7CAQwLK36U",
                    "name": "postgres-n8n"
                }
            }
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "workflows",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                760,
                620
            ],
            "id": "ad208566-87df-493c-bfb9-4bbd4cddb41b",
            "name": "array_top_5_execucoes"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "workflows",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                740,
                -420
            ],
            "id": "fbc97f09-47ea-4ece-b148-59184d5488f8",
            "name": "array_top_5_falhas"
        },
        {
            "parameters": {
                "content": "# CONSULTAS SQL",
                "height": 1280,
                "width": 540
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                420,
                -500
            ],
            "typeVersion": 1,
            "id": "dc456c17-307b-4664-bd8b-73acd3f99529",
            "name": "Sticky Note"
        },
        {
            "parameters": {
                "content": "# TELA HTML",
                "height": 1280,
                "width": 200,
                "color": 4
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1400,
                -520
            ],
            "typeVersion": 1,
            "id": "14eb8c1f-b7e8-4ac0-b024-8fc66f749c37",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "content": "# RECEBE REQUISIÇÃO",
                "height": 1280,
                "width": 280,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                -120,
                -500
            ],
            "typeVersion": 1,
            "id": "b0e85465-c38f-4fee-bebc-52d29cb8c196",
            "name": "Sticky Note2"
        },
        {
            "parameters": {
                "content": "# RESPONDE REQUISIÇÃO",
                "height": 1280,
                "width": 280,
                "color": 6
            },
            "type": "n8n-nodes-base.stickyNote",
            "position": [
                1640,
                -520
            ],
            "typeVersion": 1,
            "id": "eef2faea-8295-4f8c-ab25-37cc58bb37dc",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "workflows",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                700,
                440
            ],
            "id": "044c520c-1a52-4d9b-a4f5-7df8b6534b36",
            "name": "array_top_duracoes"
        }
    ],
    "connections": {
        "top 5 falhas 7 dias": {
            "main": [
                [
                    {
                        "node": "array_top_5_falhas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "top 5 duracao 7 dias": {
            "main": [
                [
                    {
                        "node": "array_top_duracoes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "contagem diaria execucoes ultimos 7 dias": {
            "main": [
                [
                    {
                        "node": "Aggregate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "total execucoes 7 dias",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "top 5 falhas 7 dias",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "top 5 duracao 7 dias",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "top 5 execucoes 7 dias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTML": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "total execucoes 7 dias": {
            "main": [
                [
                    {
                        "node": "percentual sucesso e falha 7 dias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "percentual sucesso e falha 7 dias": {
            "main": [
                [
                    {
                        "node": "duração média 7 dias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "duração média 7 dias": {
            "main": [
                [
                    {
                        "node": "contagem diaria execucoes ultimos 7 dias",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "monta_dias_semana": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Aggregate": {
            "main": [
                [
                    {
                        "node": "monta_dias_semana",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "top 5 execucoes 7 dias": {
            "main": [
                [
                    {
                        "node": "array_top_5_execucoes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "array_top_5_execucoes": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 3
                    }
                ]
            ]
        },
        "array_top_5_falhas": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "array_top_duracoes": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "a46402e6601b1a4fcde47d6199a3b63608f9b385f43509173dc38f13cc5fabab"
    }
}